{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}

<div id="content-wrapper" class="d-flex flex-column">
    <h1 class="mx-auto pb-2">{{ page_title }}</h1>
</div>
{% endblock %}
