{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}

<div id="content-wrapper" class="d-flex flex-column">
    <h1>Hello {{ controller_name }}!</h1>

    This friendly message is coming from:
    <ul>
        
    </ul>
    <p>
    
    </p>
</div>



{% endblock %}