{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}

<div id="content-wrapper" class="d-flex flex-column">
    <h1 class="mx-auto pb-2">{{ page_title }}</h1>
    <div class="row">
        <section class="col-md-4 pt-2">
            <div>
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>10</h3>
                        <p>Obras en proceso actualmente</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-pencil-ruler"></i>
                    </div>
                </div>
            </div>
            <div>
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">
                            Generar reporte
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="info-box">
                            <span class="info-box-icon bg-indigo"><i class="fas fa-archive"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text pl-2">ALMACEN</span>
                                <span class="info-box-number"></span>
                                <div class="text-right">
                                    <div class="btn-group">
                                        <button type="button" class="btn-xs btn-default">
                                            <a href="#" class="text-black"><i class="fas fa-file-pdf"></i> PDF</a>
                                        </button>
                                        <button type="button" class="btn-xs btn-default">
                                            <a href="#" class="text-black"><i class="fas fa-file-pdf"></i> IMPR</a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="info-box">
                            <span class="info-box-icon bg-purple"><i class="fas fa-exchange-alt"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text pl-2">MOVIMIENTOS</span>
                                <span class="info-box-number"></span>
                                <div class="text-right">
                                    <div class="btn-group">
                                        <button type="button" class="btn-xs btn-default">
                                            <a href="#" class="text-black"><i class="fas fa-file-pdf"></i> PDF</a>
                                        </button>
                                        <button type="button" class="btn-xs btn-default">
                                            <a href="#" class="text-black"><i class="fas fa-file-pdf"></i> IMPR</a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="info-box">
                            <span class="info-box-icon bg-pink"><i class="fas fa-book"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text pl-2">ESTADOS</span>
                                <span class="info-box-number"></span>
                                <div class="text-right">
                                    <div class="btn-group">
                                        <button type="button" class="btn-xs btn-default">
                                            <a href="#" class="text-black"><i class="fas fa-file-pdf"></i> PDF</a>
                                        </button>
                                        <button type="button" class="btn-xs btn-default">
                                            <a href="#" class="text-black"><i class="fas fa-file-pdf"></i> IMPR</a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="info-box">
                            <span class="info-box-icon bg-maroon"><i class="fas fa-money"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text pl-2">COMPRAS</span>
                                <span class="info-box-number"></span>
                                <div class="text-right">
                                    <div class="btn-group">
                                        <button type="button" class="btn-xs btn-default">
                                            <a href="#" class="text-black"><i class="fas fa-file-pdf"></i> PDF</a>
                                        </button>
                                        <button type="button" class="btn-xs btn-default">
                                            <a href="#" class="text-black"><i class="fas fa-file-pdf"></i> IMPR</a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="info-box">
                            <span class="info-box-icon bg-olive"><i class="far fa-files-o"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text pl-2">REPORTES</span>
                                <span class="info-box-number"></span>
                                <div class="text-right">
                                    <div class="btn-group">
                                        <button type="button" class="btn-xs btn-default">
                                            <a href="#" class="text-black"><i class="fas fa-file-pdf"></i> PDF</a>
                                        </button>
                                        <button type="button" class="btn-xs btn-default">
                                            <a href="#" class="text-black"><i class="fas fa-file-pdf"></i> IMPR</a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="col-md-8 pt-5">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="mx-auto text-center">Número de obras activas por mes</h3>
                    <div class="container">
                        <div class="row align-items-center">
                            <canvas id="obrasChart"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3 class="mx-auto text-center">Número de obras activas por mes</h3>
                    <div class="container">
                        <div class="row align-items-center">
                            <canvas id="obrasChart2"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.1/chart.min.js" integrity="sha512-BqNYFBAzGfZDnIWSAEGZSD/QFKeVxms2dIBPfw11gZubWwKUjEgmFUtUls8vZ6xTRZN/jaXGHD/ZaxD9+fDo0A==" crossorigin="anonymous"></script>
<script>

    //ELEMENTOS QUE SE OBTENDRIAN POR MEDIO DE LOS CONTROLADORES DEL SISTEMA

    const labels = [
        'January',
        'February',
        'March',
        'April',
        'May',
        'June',
      ];
    const data = {
        labels: labels,
        datasets: [{
            label: 'Numero de Obras',
            data: [4, 6, 3, 7, 10, 8, 10],
            fill: true,
            borderColor: 'rgb(75, 192, 192)',
            tension: 0.3
        }]
    };

    const config = {
        type: 'line',
        data: data,
    };

    var obrasChart = new Chart(
        document.getElementById('obrasChart'),
        config
    );
    var obrasChart2 = new Chart(
        document.getElementById('obrasChart2'),
        config
    );
    
</script>

{% endblock %}
