{% extends 'base.html.twig' %}

{% block title %}Hello ReporteController!{% endblock %}

{% block body %}

<div id="content-wrapper" class="d-flex flex-column">
    <h1>Hello {{ controller_name }}!</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/wamp64/www/proyecto-spi/src/Controller/ReporteController.php'|file_link(0) }}">src/Controller/ReporteController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/wamp64/www/proyecto-spi/templates/reporte/index.html.twig'|file_link(0) }}">templates/reporte/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
